.aboutbanner {
    width: 100%;
    height: auto;
    position: relative;
}

.aboutBannerImg {
    width: 100%;
    height: 400px;
}

.aboutBannerImg img {
    width: 100%;
    height: 100%;
}

.AboutbannerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #576881B2;
}

.aboutBannerContain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.bannerTitle h2 {
    width: 100%;
    height: auto;
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.Anoutbannerlink {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Anoutbannerlink a {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #FFF;
    margin-right: 10px;
}

.Anoutbannerlink a:hover {
    color: #FFF;
}

.aboutcontenSection {
    width: 100%;
    height: auto;
    padding: 80px 0px;
    background-color: #383838;
}

.aboutContain {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
}

.aboutTitle h5 {
    color: #E3E3E3;
    text-align: justify;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1.2px;
    /* margin-bottom: 20px; */
}

.aboutDtls p {
    color: #E3E3E3;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1.3px;
}

.hvacSection {
    width: 100%;
    height: auto;
    margin-top: 60px;
}

.mechanicalCards {
    width: 100%;
    height: 560px;
    border-radius: 36px;
    border: 2px solid #D9D9D9;
    padding: 20px;
    transition-property: all;
    transition-duration: 700ms;
}

.mechanicalCards:hover {
    border: 3px solid #D9D9D9;
}

.cardimg {
    width: 100%;
    height: 145px;
    margin-bottom: 10px;
}

.cardimg img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.cardcontain {
    padding-top: 20px;
    width: 100%;
    height: 235px;
    overflow-y: auto;
}

.cardcontain::-webkit-scrollbar {
    display: none;
}

.cardTitle h6 {
    color: #E3E3E3;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;

}

.cardcontain ul {
    padding-left: 20px;
}

.cardcontain ul li {
    list-style-type: disc;

}

.cardcontain li {
    color: #E3E3E3;
    text-align: justify;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 220%;
}

.lernMore {
    padding-top: 45px;
}

.leunBtn {
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    margin: 0 auto;
    border: 1px solid #E3E3E3;
    width: 115px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: #E3E3E3;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.leunBtn:hover {
    color: #E3E3E3;
    text-decoration: none;
}

.DomainSection {
    width: 100%;
    height: auto;
    padding: 40px 0px;
    background-color: #383838;
}

.DomainSection .row {
    align-items: center;
    margin: 20px 0px 80px;
}

.domainTitle h5 {
    color: #E3E3E3;
    /* text-align: justify; */
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    margin-bottom: 30px;
}

.domainContain {
    width: 100%;
    height: 220px;
    overflow-y: auto;
}

.domainContain::-webkit-scrollbar {
    display: none;
}

.domainContain ul {
    padding-left: 20px;
}

.domainContain ul li {
    list-style-type: decimal;
}

.domainContain li {
    color: #E3E3E3;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-left: 5px;
}

.domainImg1 {
    width: 100%;
    height: 202px;
}

.domainImg1 img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.domainImg {
    width: 100%;
    height: 345px;
}

.domainImg img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid #CDCDCD;
}

.hvacDtlsSection {
    width: 100%;
    height: auto;
    background-color: #383838;
}

.hvacDtls {
    width: 100%;
    height: auto;
    padding: 0px 0px 80px;
}

.hvacDtlsTitle h6 {
    color: #E3E3E3;
    text-align: justify;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 30px;
}

.hvacDtlsContain p {
    color: #E3E3E3;
    text-align: justify;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */
}

.hvacDtlsContain ul {
    padding-left: 20px;
}

.hvacDtlsContain ul li {
    list-style-type: disc;
}

.hvacDtlsContain li {
    color: #E3E3E3;
    text-align: justify;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    /* 32px */
}

.areaSection {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-color: #383838;
}

.areaTitle {
    align-items: center;
}

.areaTitle h3 {
    color: #E3E3E3;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.areaContainSection {
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 30px;
}

.areaDtls {
    width: 379px;
    height: auto;
    background: #BFD1EA;
    padding: 7px 20px;
    margin-bottom: 15px;
}

.areaDtls p {
    color: #0E0E0E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.48px;
    margin: 0;
}

.areaContain {
    width: 379px;
    height: auto;
    background: #6A6A6A;
    padding: 7px 20px;
    margin-bottom: 15px;
}

.areaContain p {
    color: #E3E3E3;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0;
    letter-spacing: 0.48px;
}

.ProductDtlsSection {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-color: #383838;
}

.productNameTitle h3 {
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.8px;
    margin-bottom: 50px;
}

.ProductDtlsSection .row {
    align-items: flex-start;
    margin-bottom: 80px;
    justify-content: space-between;
}

.ProductDtls {
    width: 100%;
    height: 500px;
    overflow-y: auto;
}

.ProductDtls::-webkit-scrollbar {
    display: none;
}

.ProductDtls ul li {
    list-style-type: disc;
}

.ProductDtls ul {
    padding-left: 20px;
}

.ProductDtls li {
    color: #E3E3E3;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    letter-spacing: 0.36px;
    margin-bottom: 10px;
}

.productimg {
    width: 100%;
    height: 350px;
}

.productimg img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.blogSection {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    /* background-color: #383838; */
}

.articles a:hover {
    text-decoration: none;
}

.blogSection .row {
    row-gap: 80px;
}

.blogTitle h3 {
    color: #455B78;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 2.4px;
    margin-bottom: 70px;
}

.blogCard:hover {
    text-decoration: none;
}

.blogImg {
    width: 100%;
    height: 265px;
}

.blogImg img {
    width: 100%;
    height: 100%;
    border-radius: 46px;
}

.blogcardTitle h6 {
    padding: 20px 25px;
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.6px;
}

.blogdtlsImg {
    max-width: 800px;
    height: 400px;
    margin: 0 auto 50px;
}

.blogdtlsImg img {
    width: 100%;
    height: 100%;
    border-radius: 45px;
}
.blogdtls p{
    color: #E3E3E3;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1.3px;
    margin-bottom: 25px;
}






@media(max-width:991px) {
    .aboutBannerImg {
        height: 330px;
    }

    .bannerTitle h2 {
        font-size: 39px;
    }

    .aboutDtls p {
        font-size: 18px;
    }

    .aboutcontenSection {
        padding: 60px 0px;
    }

    .hvacSection .row {
        row-gap: 30px;
    }

    .hvacSection {
        margin-top: 50px;
    }

    .cardimg {
        height: 170px;
    }

    .lernMore {
        padding-top: 15px;
    }

    .domainContain li {
        font-size: 15px;
    }

    .domainImg {
        height: 295px;
    }

    .DomainSection {
        padding: 25px 0px;
    }

    .DomainSection .row {
        margin: 20px 0px 65px;
    }

    .domainTitle h5 {
        line-height: 135%;
    }

    .areaDtls {
        width: 290px;
    }

    .areaContain {
        width: 290px;
    }

    .areaContainSection {
        max-width: 610px;
    }

    .ProductDtlsSection {
        padding: 40px 0px;
    }

    .areaSection {
        padding: 40px 0px;
    }

    .ProductDtls li {
        font-size: 16px;
        line-height: 180%;
    }

    .productNameTitle h3 {
        margin-bottom: 30px;
        font-size: 35px;
        line-height: 130%;
    }

    .productimg {
        height: 275px;
    }

    .ProductDtlsSection .row {
        margin-bottom: 50px;
    }

    .blogImg {
        height: 200px;
    }

    .blogcardTitle h6 {
        padding: 13px 17px;
        font-size: 17px;
    }

    .blogTitle h3 {
        margin-bottom: 50px;
        font-size: 44px;
    }

    .blogSection .row {
        row-gap: 60px;
    }

    .blogSection {
        padding: 40px 0px;
    }
    .blogdtlsImg{
        height: 330px;
    }
    .blogdtls p {
        font-size: 19px;
        line-height: 30px;
        letter-spacing: 0.3px;
        margin-bottom: 25px;
    }
}

@media(max-width:767px) {
    .bannerTitle h2 {
        font-size: 28px;
    }

    .aboutBannerImg {
        height: 285px;
    }

    /* .bannerTitle h2 {
        font-size: 43px;
    } */

    .aboutDtls p {
        font-size: 16px;
        line-height: 30px;

    }

    .aboutcontenSection {
        padding: 45px 0px;
    }

    .domainImg1 {
        height: 295px;
    }

    .domainContain {
        height: 180px;
    }

    .DomainSection .row {
        row-gap: 30px;
    }

    .cardcontain li {
        text-align: start;
    }

    .mechanicalCards {
        padding: 10px;
    }

    .hvacDtls {
        padding: 0px 0px 50px;
    }

    .hvacDtlsContain li {
        font-size: 15px;
    }

    .hvacDtlsContain p {
        font-size: 15px;
    }

    .hvacDtlsTitle h6 {
        margin-bottom: 20px;
    }

    .DomainSection .row:last-child {
        margin: 0px 0px 30px;
    }

    .areaContainSection {
        max-width: 530px;
    }

    .areaDtls {
        max-width: 250px;
    }

    .areaContain {
        max-width: 250px;
    }

    .areaContain p {
        font-size: 14px;
    }

    .areaSection {
        padding: 30px 0px;
    }

    .ProductDtlsSection {
        padding: 30px 0px;
    }

    .ProductDtlsSection .row {
        gap: 30px;
    }

    .productimg {
        height: 312px;
    }

    .productNameTitle h3 {
        margin-bottom: 26px;
        font-size: 30px;
        line-height: 128%;
    }

    .ProductDtls {
        height: 300px;
    }

    .blogTitle h3 {
        margin-bottom: 37px;
        font-size: 38px;
    }

    .blogSection .row {
        row-gap: 40px;
    }
    .blogdtlsImg {
        height: 280px;
    }
    .blogdtls p {
        font-size: 17px;
        line-height: 28px;
        letter-spacing: 0.3px;
        margin-bottom: 22px;
    }
}

@media(max-width:575px) {
    .bannerTitle h2 {
        font-size: 22px;
    }

    .aboutBannerImg {
        height: 234px;
    }

    .aboutcontenSection {
        padding: 35px 0px;
    }

    .aboutDtls p {
        font-size: 15px;
        line-height: 28px;
    }

    .aboutTitle h5 {
        font-size: 30px;
        margin-bottom: 12px;
    }

    .domainImg1 {
        height: 250px;
    }

    .domainImg {
        height: 250px;
    }

    .cardimg {
        height: 220px;
    }

    .cardcontain li {
        font-size: 13px;
    }

    .mechanicalCards {
        height: 592px;
    }

    .hvacSection {
        margin-top: 30px;
    }

    .DomainSection .row {
        margin: 20px 0px 40px;
        row-gap: 35px;
    }

    .areaContainSection {
        max-width: 440px;
        column-gap: 20px;
    }

    .areaDtls {
        max-width: 210px;
        padding: 5px 15px;
    }

    .areaDtls p {
        font-size: 13px;
    }

    .areaContain {
        max-width: 210px;
        padding: 5px 15px;
    }

    .areaContain p {
        font-size: 13px;
    }

    .areaTitle h3 {
        font-size: 35px;
    }

    .areaSection {
        padding: 20px 0px;
    }

    .ProductDtlsSection {
        padding: 20px 0px;
    }

    .ProductDtls li {
        font-size: 15px;
        line-height: 170%;
    }

    .productimg {
        height: 285px;
    }

    .ProductDtls {
        height: 300px;
    }

    .blogImg {
        height: 256px;
        max-width: 395px;
        margin: 0 auto;
    }

    .blogcardTitle h6 {
        padding: 15px 45px;
        font-size: 20px;
    }

    .blogSection .row {
        row-gap: 25px;
    }
    .blogdtlsImg {
        height: 245px;
        margin: 0 auto 40px;
    }

}

@media(max-width:480px) {
    .bannerTitle h2 {
        font-size: 26px;
        text-align: center;
    }

    .aboutBannerImg {
        height: 175px;
    }

    .aboutDtls p {
        font-size: 14px;
        line-height: 26px;
    }

    .aboutcontenSection {
        padding: 24px 0px;
    }

    .aboutTitle h5 {
        font-size: 28px;
        margin-bottom: 9px;
    }

    .cardimg {
        height: 170px;
    }

    .mechanicalCards {
        height: 546px;
    }

    .aboutTitle h5 {
        font-size: 25px;
        line-height: normal;
    }

    .domainTitle h5 {
        line-height: 114%;
        font-size: 25px;
    }

    /* .domainContain {
        height: 303px;
    } */
    .domainContain li {
        font-size: 14px;
    }

    .DomainSection .row {
        row-gap: 35px;
    }

    /* .domainContain {
        height: 288px;
    } */
    .domainImg {
        height: 210px;
    }

    .domainImg1 {
        height: 210px;
    }

    .hvacDtls {
        padding: 0px 0px 20px;
    }

    .hvacDtlsContain p {
        font-size: 14px;
    }

    .hvacDtlsContain ul {
        padding-left: 15px;
    }

    .hvacDtlsContain li {
        font-size: 14px;
        line-height: 185%;
        text-align: start;
    }

    .domainContain ul {
        padding-left: 15px;
    }

    .areaContainSection {
        max-width: 300px;
    }

    .areaContain {
        max-width: 137px;
        padding: 5px 8px;
    }

    .areaDtls {
        max-width: 137px;
        padding: 5px 8px;
    }

    .areaContain p {
        font-size: 11px;
    }

    .areaDtls p {
        font-size: 11px;
    }

    .ProductDtlsSection {
        margin-top: -5px;
    }

    .areaTitle h3 {
        font-size: 28px;
        line-height: 105%;
    }

    .productNameTitle h3 {
        margin-bottom: 22px;
        font-size: 24px;
        line-height: 125%;
    }

    .ProductDtls li {
        font-size: 13px;
        line-height: 160%;
    }

    .productimg {
        height: 230px;
    }

    .ProductDtlsSection .row {
        gap: 20px;
    }

    .blogTitle h3 {
        margin-bottom: 33px;
        font-size: 28px;
    }

    .blogImg {
        height: 210px;
    }

    .blogcardTitle h6 {
        padding: 12px 15px;
        font-size: 18px;
    }

    .blogSection {
        padding: 30px 0px;
    }
    .blogdtlsImg {
        height: 180px;
        margin: 0 auto 30px;
    }
    .productNameTitle h3 {
        margin-bottom: 22px;
        font-size: 21px;
        line-height: 129%;
    }
    .blogdtls p {
        font-size: 15px;
        line-height: 26px;
        letter-spacing: normal;
        margin-bottom: 19px;
        text-align: start;
    }
}